

.content {
  z-index: 0;
  width: 100%;
  max-height: auto;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;;
  background-color: black;
}


div#barra{
  
  display: flex;
  justify-items: space-evenly;

  position: fixed;
  width: 100%;
  border: 1px solid rgba(81, 6, 100, 0.8);
  z-index: 10;
  top: 0px;
  height: 4.1%;
  background-color: rgba(152, 3, 206, 0.4);
}

.select{

  display: flex;

  align-items: center;
  color: white;

  font-size: 1em; /*colocar media*/


  padding: 1%;
  transition-duration: 0.3s;
}

.select:hover{
  background-color: rgba(81, 6, 108, 0.7);
  color: white;
}

.card {

  padding: 2%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition-duration: 0.3s;
  width: 30%;
  height: 300px;
  overflow: auto;

}

.card:hover{
  transform: scale(1.03,1.03);
  background-color: rgba(0, 0, 0, 0.8);
}

div.card a, h1 {
  color: white;
}

.card a {
  font-size: 30px;
}


.cardinho {
  background-color: rgba(0, 0, 0, 0.3);
  height: 250px;
  width: 450px;
  transition-duration: 0.3s;
}

.cardinho:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.03,1.03);
}


a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }


#nomesite{
  color: white;
  font-size: 30px;
  margin-left: 40px;


}
.icones {
  transition-duration: 0.3s;
  display: flex;
  box-shadow: 0 1px 30px 1px rgba(0, 0, 0, 0.3);
  margin: 70px 100px 20px 100px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 300px 20px 20px;
  border-radius: 20px;
}

.icones:hover {
  transform: scale(1.03,1.03);
}

.transicao {
  background-image: url("https://i.gifer.com/N0Mb.gif");
  height: 40px;
  box-shadow: 0 5px 15px 2px black;
}

.redes {
  display: flex;
    justify-content: center;
  flex-wrap: wrap;
  width: 100%
}

.bg1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 700px;
  background-image: url("https://cutewallpaper.org/25/animated-cosmic-hd-wallpaper-for-pc/137919277.jpg");
  background-size: 100%;
  background-repeat: repeat;
}

.bg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: static; 
  background-size: 100%;
  min-height: 700px;
  background-repeat: repeat;
}

#secaofilmes {
  background-image: url("https://img.freepik.com/free-photo/red-black-brush-stroke-banner-background-perfect-canva_1361-3597.jpg?w=2000");
}

#bg3 {
  background-image: url("https://images5.alphacoders.com/637/637668.jpg");
  background-position: 10px;
}

#bg4 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Stranger_Things_logo.png/640px-Stranger_Things_logo.png");
  background-position: 10px;
}

#bg5 {
  background-image: url("https://images8.alphacoders.com/124/thumb-1920-1244091.jpg");
}

.bg6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 700px;
  background-image: url("pronto.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

img#series{
  width: 50%;
  height: auto;
}

.header{
  font-family: "Lucida Console", "Courier New", monospace;
  color: #4FF014;  
  text-align: left;
  margin-left: 30px;
}

.spaces {
  margin-bottom: 200px;
}

.topicos{
  background-color: black;
  margin: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  box-shadow: 0 5px 15px 2px black;
}

.bloco {
  display: block;
  overflow: auto;
  background-color: black;
  border: 1px solid black;
  border-radius: 4px;
  width: 60%;
  height: 300px;
  margin-left: 70px;
  box-shadow: 0 10px 30px 5px black;
  
}

img#foto {
  width: 15%;
  height: auto;
}

.imagens {
  
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}

@media screen and (max-width: 1080px){
  .bg1{
    background-image: none;
    background-color: rgb(80, 11, 115);
    height: 1500px;
    justify-content: space-around;
    flex-direction: column;
  }
  .bg {
    flex-direction: column;
  }

  #secaofilmes {
    background-image: none;
    background-color: rgb(51, 0, 0);
  }

  #bg3 {
    background-image: none;
    background-color: rgb(0, 0, 102);
  }
  #bg4 {
    background-image: none;
    background-color: rgb(139, 9, 5);
  }
  #bg5 {
    background-image: none;
    background-color: rgb(0, 204, 204);
    }

  .cardinho{
    width: 10%;
  }

  .card {
    order: 1;
    height: 200px;
    width: 90%;
  }

  #foto {
    width: 40% !important;
  }

}

